html {
    font-size: 62.5%; /* 1 rem = 10px */
    box-sizing: border-box; /* Hack para Box Model **/
 
}
*, 
*:before, 
*:after {
    box-sizing: inherit;
}

body {
    font-family: $fuente_principal;
    font-size: 1.6rem;
    line-height: 1.8rem;

   
    // &.overflow-hidden {
    //     overflow: hidden;
    // }  
}
  p {
    color: $negro;
    font-size: 1.6rem;    
    font-family: $fuente_principal;
    text-align: center;
    line-height: 1.8rem;
  }

.contenedor {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;        
 }
 .iframe {
    overflow-y: auto;
    overflow-x: auto;
    overflow: unset;
    font-family: $fuente_principal;
 }
a {
    text-decoration: none;
    text-transform: uppercase;
    color: $blanco;
    font-weight: $bold;
    
}
img,
picture {
    width: 100%;
    display: block;
}

h1, h2, h3 {
    font-family: $fuente_principal;
    margin: calc($separacion / 2) 0;
    font-weight: 300;
    text-align: center;
   
}
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;    
}
span {
    display: block;
    margin-top: 2rem;
    font-size: 2.6rem;
    color: $gris;    
}






    











